<script src="/assets/javascripts/rooms/feed-socketio.js"></script>
<script type="text/jsx" src="/assets/javascripts/rooms/app.js"></script>
<div class="container" id="main"></div>
<script>
/*
  var new_room = function(room){
    div = $('<div />').attr({
      "data-id": room.id
    });
    div.append($('<h2 />').text(room.name)).append($('<p />').text(room.people+"/"+room.limit))
    $('div#rooms').append(div)
  }
  var update_room = function(room){
    r = $('[data-id='+room.id+']');
    r.find('h2').text(room.name);
    r.find('p').text(room.people+"/"+room.limit)
  }
  var del_room = function(room){
    $('[data-id='+room.id+']').remove()
  }
  socket.on('connect', function (user) {
      socket.emit('join');
  });
  socket.on('rooms.update', function(data){
    rsp = JSON.parse(data);
    switch(rsp.action) {
    case "new":
        new_room(rsp.room)
        break;
    case "update":
        update_room(rsp.room)
        break;
    case "del":
        del_room(rsp.room)
        break;
    default:

    }
    //$('#rooms').append($('<div />').text(room));
  });
*/
</script>