<!DOCTYPE html>
<html>
<head>
  <title>Can</title>
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap.min.css">
  <script src="/assets/javascripts/angular.min.js"></script>
  <script src="/assets/javascripts/jquery.min.js"></script>
</head>
<body>
  <div>
    {{ template "header" }}
    {{ yield }}
  </div>

  <script src="/assets/javascripts/bootstrap.min.js"></script>
</body>
</html>